@import "../vars.less";
html {
  height: 100%;
}
body {
  -webkit-overflow-scrolling: touch;
}
h2 {
  font-size: 36rem/@dpi;
  font-weight: normal;
  margin: 0rem;
}

h3 {
  margin: 0rem;
  font-weight: normal;
  font-size: 26rem/@dpi;
}

ul {
  padding: 0px;
  margin: 0px;
}
li {
  display: block;
}
